/* You can add global styles to this file, and also import other style files */
body{
    background-color: #000; /* Dark background color */
    color: #fff; /* White text color */
    font-family: Arial, sans-serif; /* Choose an appropriate font */
    margin: 0; /* Remove default margin for a cleaner look */
    padding: 0; /* Remove default padding */
}